<p> Уважаемый <%= "#{@name} #{@surname}" %>! </p>
<p> Вы успешно зарегистрировались на SHOP ONE!</p>
<p> Заказывать доставку продуктов Вы можете <%= link_to "прямо сейчас", products_url %></p>
<p> Подробнее об услуге <%= link_to "SHOP ONE", main_index_url %> </p>
<p> По всем вопросам, обращайтесь в  <a href="mailto:support@shop.rubysquad.pp.ua?Subject=Support%20needed" target="_top">службу поддержки</a></p>